/* NavBar */

.navbar {
  height: 100px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  justify-content: space-between;
  width: 100%;
}
/* NavBar-left-side */
.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  display: block;
  cursor: pointer;
}

.navbar-list {
  height: 100%;
  list-style-type: none;
  padding-left: 50px;
  overflow: hidden;
}

.navbar-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97%;
  float: left;
}

.navbar-list li:hover {
  border-bottom-style: solid;
  border-color: #f59e0b;
  border-width: 3px;
}

.navbar-list li:hover a {
  color: black;
}

.navbar-list li a {
  color: #6b7280;
  padding: 14px 16px;
  text-decoration: none;
}

/* NavBar-right-side */
.navbar-right {
  height: 100%;
  /* padding-right: 5%; */
  display: flex;
  align-items: center;
  justify-content: end;
}
