/* Shared Styles */
.cart-card,
#cart-prod-img,
.cart-card-r h5,
.cart-card-r h6 {
  user-select: none;
}

/* Cart Container */
.cart {
  margin-right: 50px;
  cursor: pointer;
}

/* Cart Info */
.cart-info {
  display: none;
  position: fixed;
  right: 5%;
  top: 95px;
  width: 400px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 20px 40px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 999;
}

@media screen and (max-width: 425px) {
  .cart-info {
    max-height: 300px;
    top: 120px;
    width: 90%;
    height: 30%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

/* Cart Header */
.cart-header,
.cart-body {
  padding: 0 5%;
  border-bottom: 1px solid #e5e7eb;
}

.cart-header {
  height: 25%;
  display: flex;
  align-items: center;
}

/* Cart Body */
.cart-body {
  height: 75%;
  overflow-y: auto;
}

/* Hide Scrollbar */
.cart-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.cart-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Cart Card */
.cart-card {
  display: flex;
  align-content: center;
  padding-top: 10px;
}

#cart-prod-img {
  width: 50px;
  border-radius: 10px;
}

#cart-card-top {
  display: flex;
  align-content: center;
}

/* Cart Card Right Section */
.cart-card-r {
  max-width: 350px;
  padding-left: 20px;
}

.cart-card-r h5,
.cart-card-r h6 {
  margin: 0;
  width: 250px;
}

/* Product Total */
.prod-total {
  font-weight: 700;
  color: black;
}

/* Remove Item SVG */
#remove-item-svg {
  width: 20px;
  height: 25px;
  display: block;
  align-self: center;
  cursor: pointer;
}
