.cart {
  margin-right: 50px;
  cursor: pointer;
}

.cart-info {
  display: none;
  position: fixed;
  right: 5%;
  top: 95px;
  width: 400px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 20px 40px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.cart-info-top {
  padding: 0 5%;
  height: 25%;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
}

.cart-info-list {
  padding: 0 5%;
  height: 75%;
  border-bottom: 1px solid #e5e7eb;
  overflow-y: auto;
}

.cart-card {
  display: flex;
  align-content: center;
  padding-top: 10px;
}

 #cart-prod-img{
  width: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  user-select: none;
  transition: opacity 0.3s ease;
}

#cart-card-top {
  display: flex;
  align-content: center;
}

.cart-card-r {
  max-width: 350px;
  padding-left: 20px;
}

.cart-card-r h5,
h6 {
  margin: 0 0;
  width: 250px;
  user-select: none;
}

.prod-total {
  font-weight: 700;
  color: black;
}

#remove-item-svg {
  border-radius: 0;
  width: 20px;
  height: 25px;
  padding: 0 0;
  cursor: pointer;
}
