#company-name {
  margin-top: 20%;
  text-transform: uppercase;
  color: #f59e0b;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.05em;
}

#prod-title {
  text-transform: capitalize;
  font-size: 3rem; /* 48px */
  margin: 0 0;
}

#item-description {
  margin-right: 10%;
}

.price-status {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

#price {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}
#disscount {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  background-color: #ffedd5;
  border-radius: 8px;
  font-weight: 600;
  color: #f59e0b;
  padding: 0 8px;
}

#prev-price {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  color: #6b7280;
  text-decoration-line: line-through;
}

.buying-options {
  display: flex;
  align-items: center;
}

.buying-options div {
  padding: 0 20px;
}

#quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  border-radius: 10px;
  overflow: hidden;
}

#quantity div {
  padding: 1rem;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

.quantity-btn {
  color: #f59e0b;
  user-select: none;
}

.quantity-btn:hover {
  background-color: #6b7280;
}

#item-count::-webkit-outer-spin-button,
#item-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#item-count[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

#item-count {
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  margin: 0;
  background-color: #f3f4f6;
  width: 1.25rem;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}

#submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 10%;
  width: 45%;
  background-color: #f59e0b;
  font-weight: 600;
  color: white;
  cursor: pointer;
  user-select: none;
}

#submit-btn:hover {
  opacity: 0.5;
}

#cart-btn {
  width: 22px;
  height: 20px;
  fill: white;
  user-select: none;
}
