.prod-img {
  width: 100%;
  border-radius: 20px;
  user-select: none;
}

#img-selection {
  user-select: none;
}

#img-selection img {
  width: 18%;
  margin: 15px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  user-select: none;
  transition: opacity 0.3s ease;
}

#img-selection img:hover {
  border: 3px solid #f59e0b;
  box-sizing: border-box;
}

#img-selection img.selected {
  opacity: 0.5;
}
@media screen and (max-width: 425px) {
  .prod-img {
    border-radius: 0px;
  }
  #img-selection {
    display: none;
  }
}
